[submodule "domino"]
	path = domino
	url = https://github.com/internot/domino.git
[submodule "narcissus"]
	path = narcissus
	url = http://github.com/arnar/narcissus.git
[submodule "jsflow"]
	path = jsflow
	url = https://github.com/arnar/jsflow.git
